* {
  background-color: bisque;
}

.section-box {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-shadow: -10px 12px 13px #5e5e5e;
  border-radius: 2%;
  overflow: hidden;
  background-color: white;
}

.section-box > * {
  background-color: white;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  padding-top: 0.5rem;
}

p {
  padding: 0.8rem;
}
