* {
  box-sizing: border-box;
  margin: 0;
}

.ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  background-color: #4fa82e;
  padding: 2rem 0 2rem 0;
  color: black;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin-bottom: 5%;
}

.ul li {
  background-color: #4fa82e;
}
